# <u>**Mini Project 3**</u>

##  Data Transformation & Feature Engineering

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cleaned_data_wrangling_project.csv")
df.head()

,customer_name,order_date,sales,quantity_ordered,returned?,high_value_order
0,Alice,2023-01-15,1000.000000,2.0,Yes,True
1,Bob,NaN,850.000000,3.0,No,True
2,alice,NaN,592.857143,1.0,Yes,True
3,Charlie,NaN,550.000000,1.0,Yes,True
4,David,NaN,900.000000,4.0,No,True

### Level 1: Extract the Year and Month from the Order Date

In [3]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['year'] = df['order_date'].dt.year
df['month'] = df['order_date'].dt.month_name()

print("\n[Level 1] Added 'year' and 'month' columns.")
print(df[['order_date', 'year', 'month']].head())

[Level 1] Added 'year' and 'month' columns.
  order_date    year    month
0 2023-01-15  2023.0  January
1        NaT     NaN      NaN
2        NaT     NaN      NaN
3        NaT     NaN      NaN
4        NaT     NaN      NaN

###  Level 2: Add a Column for Total Sales (Price ร Quantity)

In [5]:
df['unit_price'] = df['sales']/df['quantity_ordered']
print("\n[Level 2] Added 'unit_price' column (sales รท quantity):")
df[['sales', 'quantity_ordered', 'unit_price']].head()

[Level 2] Added 'unit_price' column (sales รท quantity):

         sales  quantity_ordered  unit_price
0  1000.000000               2.0  500.000000
1   850.000000               3.0  283.333333
2   592.857143               1.0  592.857143
3   550.000000               1.0  550.000000
4   900.000000               4.0  225.000000

### Level 3: Label High vs. Low Quantity Orders

In [6]:
df['quantity_size'] = pd.cut(df['quantity_ordered'],
                              bins=[0, 1, 3, float('inf')],
                              labels=['Low', 'Medium', 'High'])

print("\n[Level 3] Labeled quantity size:")
print(df[['quantity_ordered', 'quantity_size']].head())

[Level 3] Labeled quantity size:
   quantity_ordered quantity_size
0               2.0        Medium
1               3.0        Medium
2               1.0           Low
3               1.0           Low
4               4.0          High

### Level 4: Count How Many Orders Each Customer Placed

In [10]:
customer_orders = df['customer_name'].value_counts()
print("\n[Level 4] Orders per customer:")
print(customer_orders)

[Level 4] Orders per customer:
customer_name
Alice      1
Bob        1
alice      1
Charlie    1
David      1
Eve        1
Frank      1
Grace      1
Heidi      1
Ivan       1
Name: count, dtype: int64

### Level 5: Encode 'Returned?' Column into Binary

In [12]:
df['returned_flag'] = df['returned?'].map({'Yes':1,'No':0})
print("\n[Level 5] 'returned?' converted to binary 0/1:")
print(df[['returned?', 'returned_flag']].head())

[Level 5] 'returned?' converted to binary 0/1:
  returned?  returned_flag
0       Yes              1
1        No              0
2       Yes              1
3       Yes              1
4        No              0

### Level 6: Flag Weekend vs. Weekday Orders

In [14]:
df['day_of_week'] = df['order_date'].dt.day_name()
df['is_weekend'] = df['day_of_week'].isin(['Saturday', 'Sunday'])

print("\n[Level 6] Added 'day_of_week' and 'is_weekend' flags:")
print(df[['order_date', 'day_of_week', 'is_weekend']].head())

[Level 6] Added 'day_of_week' and 'is_weekend' flags:
  order_date day_of_week  is_weekend
0 2023-01-15      Sunday        True
1        NaT         NaN       False
2        NaT         NaN       False
3        NaT         NaN       False
4        NaT         NaN       False

###  Level 7: Bin Sales Into Ranges (Low, Medium, High)

In [22]:
df['sales_range'] = pd.cut(df['sales'],
                           bins = [0,300,700,float('inf')], 
                           labels=['Low','Medium','High'])

In [23]:
print("\n[Level 7] Sales categorized into Low/Medium/High:")
print(df[['sales', 'sales_range']].head())

[Level 7] Sales categorized into Low/Medium/High:
         sales sales_range
0  1000.000000        High
1   850.000000        High
2   592.857143      Medium
3   550.000000      Medium
4   900.000000        High

### Level 8: Calculate Running Total of Sales (Cumulative)

In [25]:
df = df.sort_values(by='order_date')
df['cumulative_sales'] = df['sales'].cumsum()

print("\n[Level 8] Cumulative sales added:")
print(df[['order_date', 'sales', 'cumulative_sales']].head())

[Level 8] Cumulative sales added:
  order_date        sales  cumulative_sales
0 2023-01-15  1000.000000       1000.000000
1        NaT   850.000000       1850.000000
2        NaT   592.857143       2442.857143
3        NaT   550.000000       2992.857143
4        NaT   900.000000       3892.857143

### Level 9: Create a Unique Order ID (if needed)

In [27]:
df['order_id'] = ['ORD' + str(i).zfill(4) for i in range(1, len(df)+1)]

print("\n[Level 9] Unique 'order_id' added:")
print(df[['order_id', 'customer_name', 'sales']].head())

[Level 9] Unique 'order_id' added:
  order_id customer_name        sales
0  ORD0001         Alice  1000.000000
1  ORD0002           Bob   850.000000
2  ORD0003         alice   592.857143
3  ORD0004       Charlie   550.000000
4  ORD0005         David   900.000000

 ### Level 10: Export Transformed Data

In [30]:
df.to_csv("transformed_sales_data.csv", index=False)
print("\n[Level 10] Transformed dataset saved as 'transformed_sales_data.csv'")

[Level 10] Transformed dataset saved as 'transformed_sales_data.csv'

___